In [ ]:
import pandas as pd
import datetime as dt

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/WidhyaOrg/datasets/master/covid19.csv')

In [ ]:
df['Date'].dt.day_name()

0      Thursday
1        Friday
2      Saturday
3        Sunday
4        Monday
         ...
265    Saturday
266    Saturday
267    Saturday
268    Saturday
269    Saturday
Name: Date, Length: 270, dtype: object

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%y')

In [ ]:
df['total_cases'] = df['ConfirmedIndianNational']+df['ConfirmedForeignNational']+df['Cured']+df['Deaths']

In [ ]:
df['total_confirmed'] = df['ConfirmedForeignNational']+df['ConfirmedIndianNational']

In [ ]:
df.set_index('Date', inplace=True)

In [ ]:
daily_increase = df['total_confirmed'].resample('D').sum()

In [ ]:
daily_increase_rate = daily_increase.diff()/daily_increase

In [ ]:
daily_increase_rate['2020-03-04':'2020-03-21'].mean()

0.1611251819672049

In [ ]:
import math

In [ ]:
31*math.exp(0.161125*26)

2045.1720653752034