In [1]:
import pandas as pd

In [53]:
import joblib

In [42]:
df = pd.read_csv('https://raw.githubusercontent.com/WidhyaOrg/datasets/master/instagram_reach.csv')

In [6]:
df.columns

Index(['Unnamed: 0', 'S.No', 'USERNAME', 'Caption', 'Followers', 'Hashtags',
       'Time since posted', 'Likes'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   S.No               100 non-null    int64
 2   USERNAME           100 non-null    object
 3   Caption            94 non-null     object
 4   Followers          100 non-null    int64
 5   Hashtags           100 non-null    object
 6   Time since posted  100 non-null    object
 7   Likes              100 non-null    int64
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

In [9]:
df.shape

(100, 8)

In [43]:
df.drop(['Unnamed: 0','USERNAME', 'S.No', 'Caption', 'Hashtags'], axis=1, inplace=True )

In [44]:
df['Time since posted'] = df['Time since posted'].str.split(' ', expand=True)[0]

In [23]:
df['Time since posted'].values

array(['11', '2', '2', '3', '3', '3', '3', '4', '4', '7', '7', '8', '9',
       '11', '3', '3', '4', '4', '4', '4', '5', '2', '2', '2', '2', '2',
       '2', '20', '4', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2',
       '14', '2', '2', '2', '2', '2', '2', '2', '3', '3', '4', '4', '4',
       '4', '4', '7', '24', '2', '2', '2', '2', '2', '3', '2', '3', '2',
       '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2',
       '2', '2', '2', '2', '2', '3', '3', '3', '4', '2', '2', '2', '2',
       '2', '2', '2', '3', '3', '3', '3', '3', '3'], dtype=object)

In [24]:
from sklearn.linear_model import LinearRegression

In [45]:
regmod = LinearRegression()

In [26]:
from sklearn.model_selection import train_test_split

In [35]:
df.columns

Index(['USERNAME', 'Followers', 'Time since posted', 'Likes'], dtype='object')

In [46]:
X = df.loc[:,'Followers':'Time since posted']

In [47]:
y=df['Likes']

In [48]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [49]:
X

    Followers Time since posted
0        1600                11
1         880                 2
2         255                 2
3         340                 3
4         304                 3
..        ...               ...
95        614                 3
96        450                 3
97        182                 3
98       2039                 3
99        741                 3

[100 rows x 2 columns]

In [64]:
regmod.fit(X_train.values,y_train.values)

LinearRegression()

In [65]:
filename = 'finalized_model.h5'
joblib.dump(regmod, filename)

['finalized_model.h5']

In [66]:
loaded_model = joblib.load(filename)

In [57]:
loaded_model

LinearRegression()

In [60]:
X_train

    Followers Time since posted
55       3448                24
88       1158                 2
26        265                 2
42        273                 2
69       1003                 2
..        ...               ...
60        145                 2
71        383                 2
14       2904                 3
92        106                 2
51       2277                 4

[80 rows x 2 columns]

In [68]:
loaded_model.predict([[300,10]])

array([108.75693473])

In [72]:
from sklearn.metrics import mean_squared_error

In [74]:
mean_squared_error(y_test,loaded_model.predict(X_test))

541.0121910944123